{
    "HTTPListen": "127.0.0.1:50051",
    "LogFile": "log",
    "LogLevel": "debug",
    "PgName": "calendar",
    "PgHost": "localhost",
    "PgPort": 5432,
    "PgUser": "postgres",
    "PgPassword": "password",
    "RabbitHost": "localhost",
	"RabbitPort": 5672,
	"RabbitUser": "guest",
	"RabbitPassword": "guest"
}